<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/abtstyles.css') }}">
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>InsuranceSaathi-AboutUs</title>
    </head>
    <body>
        <div class="about-section">
            <div class="inner-container">
                <h1>About Us</h1>
                <p class="text">
                    InsuranceSaathi is a leading multi-line insurer that serves its customers in global and local markets.
                </p>
                <p class="text">
                    With about 56,000 employees, it provides a wide range of property and casualty, life insurance products and services in more than 210 countries and territories.
                </p>
                <p class="text">
                    Our customers include individuals, small businesses, and mid-sized and large companies, as well as multinational corporations.
                </p>
                <a href="{{ url_for('LandingPage') }}" class="previous">&laquo; Back to Home page</a>
            </div>
        </div>
    </body>
</html>