<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/prodstyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Products</title>
</head>
<body>
    <section>
        <nav>
            <ul>
                <li><a href="#hi">Health Insurance</a></li>
                <li><a href="#hoi">Home Insurance</a></li>
                <li><a href="#vi">Vehicle Insurance</a></li>
                <li><a href="#ti">Travel Insurance</a></li>
                <li><a href="{{url_for('LandingPage')}}">Back to Home</a></li>
            </ul>
        </nav>
    </section>
    <section class="sec" id="hi" style="margin-top: 75px;">
        <header><h2>Health Insurance</h2></header>
        <div class="pwrapper">
        <p>Health insurance provides medical coverage to the insured against any emergency and planned medical expenses.<br>
            It provides financial assistance to cover the cost of hospitalization, surgeries, day care procedures, etc.<br>
            A health insurance plan offers cashless treatment or reimburses the medical treatment costs of the insured.<br>
            InsuranceSaathi helps you find the best insurer to make sure you and your loved ones are always protected by able hands.      
        </p>
    </div>
        <p>Some of our top insurers are : -</p>
        <div class="wrapper">
            <figure><a href ="https://www.aegonlife.com/"><img src="https://www.indiantelevision.com/sites/default/files/styles/amp_metadata_content_image_min_696px_wide/public/images/tv-images/2019/05/10/aegon-life.jpg?itok=zJWCvqzD" class="serv"><figcaption>Plans starting from &#8377;597/mo</a></figcaption></figure>
            <figure><a href ="https://www.bajajallianz.com/general-insurance.html?utm_source=GoogleBrandBagic&param1=Enhanced_Sitelink&param2=Enhaced_Site_Link&param3=bajaj%20allianz&utm_content=SEM&gclid=CjwKCAjwx7GYBhB7EiwA0d8oe41O6xmcPIywc3Q9LSKp0fyZd3pwu0xptEZ5gyS-BUBAp1bnnM5LXhoCqPQQAvD_BwE&gclsrc=aw.ds"><img src="https://yt3.ggpht.com/ytc/AMLnZu_u470ylZp9aiz2-q7l-8MkR8CouULW71_vxai1dG0=s900-c-k-c0x00ffffff-no-rj" class="serv"><figcaption>Plans starting from &#8377;19597/year</a></figcaption></figure>
            <figure><a href ="https://www.bhartiaxa.com/"><img src="https://cms-img.coverfox.com/Bharti%20AXA%20Health%20Insurance%20company.png"class="serv"><figcaption>Winner of Best Policy Award</a></figcaption></figure>
            <figure><a href ="https://www.kotaklife.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxGvzxNG0MZZnn_PK1PkPd5NFl5YjUgO5zYw&usqp=CAU"class="serv"><figcaption>Amazing offers for family plans</a></figcaption></figure>
        </div>
    </section>
<section class="secwrapper">
    <section class="sec" id="hoi">
        <header><h2>Home Insurance</h2></header>
        <p>
            Home insurance provides cover against unforeseen incidents such as natural calamities.<br>
            (storms, floods, landslides) and man-made disasters such as (burglary, riots, theft, etc.).<br>
            Be it your own house, a rented one,an apartment, or a luxury mansion this insurance policy<br> will provide cover for any kind of loss or damage. 
        </p>
        <p>Some of our top insurers are : -</p>
        <div class="wrapper">
            <figure><a href ="https://www.aegonlife.com/"><img src="https://www.indiantelevision.com/sites/default/files/styles/amp_metadata_content_image_min_696px_wide/public/images/tv-images/2019/05/10/aegon-life.jpg?itok=zJWCvqzD" class="serv"><figcaption>Plans starting from &#8377;597/mo</a></figcaption></figure>
            <figure><a href ="https://www.bajajallianz.com/general-insurance.html?utm_source=GoogleBrandBagic&param1=Enhanced_Sitelink&param2=Enhaced_Site_Link&param3=bajaj%20allianz&utm_content=SEM&gclid=CjwKCAjwx7GYBhB7EiwA0d8oe41O6xmcPIywc3Q9LSKp0fyZd3pwu0xptEZ5gyS-BUBAp1bnnM5LXhoCqPQQAvD_BwE&gclsrc=aw.ds"><img src="https://yt3.ggpht.com/ytc/AMLnZu_u470ylZp9aiz2-q7l-8MkR8CouULW71_vxai1dG0=s900-c-k-c0x00ffffff-no-rj" class="serv"><figcaption>Plans starting from &#8377;19597/year</a></figcaption></figure>
            <figure><a href ="https://www.bhartiaxa.com/"><img src="https://cms-img.coverfox.com/Bharti%20AXA%20Health%20Insurance%20company.png"class="serv"><figcaption>Winner of Best Policy Award</a></figcaption></figure>
            <figure><a href ="https://www.kotaklife.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxGvzxNG0MZZnn_PK1PkPd5NFl5YjUgO5zYw&usqp=CAU"class="serv"><figcaption>Amazing offers for family plans</a></figcaption></figure>
        </div>
    </section>
    <section class="sec" id="vi">
        <header><h2>Vehicle Insurance</h2></header>
        <p>
            Motor insurance is a mandatory insurance cover that every vehicle owner in India must have.<br>
            Be it a car, truck, tractor or two-wheeler, every vehicle should be secured under an insurance policy of its own.<br>
            Its main objective is to give complete protection against physical damage or loss sustained by the insured vehicle<br> from natural and man-made calamities along with any third-party liabilities arising out of the insured vehicle.  
        </p>
        <p>Some of our top insurers are : -</p>
        <div class="wrapper">
            <figure><a href ="https://www.aegonlife.com/"><img src="https://www.indiantelevision.com/sites/default/files/styles/amp_metadata_content_image_min_696px_wide/public/images/tv-images/2019/05/10/aegon-life.jpg?itok=zJWCvqzD" class="serv"><figcaption>Plans starting from &#8377;597/mo</a></figcaption></figure>
            <figure><a href ="https://www.bajajallianz.com/general-insurance.html?utm_source=GoogleBrandBagic&param1=Enhanced_Sitelink&param2=Enhaced_Site_Link&param3=bajaj%20allianz&utm_content=SEM&gclid=CjwKCAjwx7GYBhB7EiwA0d8oe41O6xmcPIywc3Q9LSKp0fyZd3pwu0xptEZ5gyS-BUBAp1bnnM5LXhoCqPQQAvD_BwE&gclsrc=aw.ds"><img src="https://yt3.ggpht.com/ytc/AMLnZu_u470ylZp9aiz2-q7l-8MkR8CouULW71_vxai1dG0=s900-c-k-c0x00ffffff-no-rj" class="serv"><figcaption>Plans starting from &#8377;19597/year</a></figcaption></figure>
            <figure><a href ="https://www.bhartiaxa.com/"><img src="https://cms-img.coverfox.com/Bharti%20AXA%20Health%20Insurance%20company.png"class="serv"><figcaption>Winner of Best Policy Award</a></figcaption></figure>
            <figure><a href ="https://www.kotaklife.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxGvzxNG0MZZnn_PK1PkPd5NFl5YjUgO5zYw&usqp=CAU"class="serv"><figcaption>Amazing offers for family plans</a></figcaption></figure>
        </div>
    </section>
    <section class="sec" id="ti">
        <header><h2>Travel Insurance</h2></header>
        <p>
            Travel insurance protects you from any unexpected financial losses while travelling, internationally or domestically.<br>
            Basic travel insurance plans cover medical expenses, however, comprehensive travel insurance policies also offer<br> coverage for flight delays, lost passports, trip cancellations, personal liability, etc. 
        </p>
        <p>Some of our top insurers are : -</p>
        <div class="wrapper">
            <figure><a href ="https://www.aegonlife.com/"><img src="https://www.indiantelevision.com/sites/default/files/styles/amp_metadata_content_image_min_696px_wide/public/images/tv-images/2019/05/10/aegon-life.jpg?itok=zJWCvqzD" class="serv"><figcaption>Plans starting from &#8377;597/mo</a></figcaption></figure>
            <figure><a href ="https://www.bajajallianz.com/general-insurance.html?utm_source=GoogleBrandBagic&param1=Enhanced_Sitelink&param2=Enhaced_Site_Link&param3=bajaj%20allianz&utm_content=SEM&gclid=CjwKCAjwx7GYBhB7EiwA0d8oe41O6xmcPIywc3Q9LSKp0fyZd3pwu0xptEZ5gyS-BUBAp1bnnM5LXhoCqPQQAvD_BwE&gclsrc=aw.ds"><img src="https://yt3.ggpht.com/ytc/AMLnZu_u470ylZp9aiz2-q7l-8MkR8CouULW71_vxai1dG0=s900-c-k-c0x00ffffff-no-rj" class="serv"><figcaption>Plans starting from &#8377;19597/year</a></figcaption></figure>
            <figure><a href ="https://www.bhartiaxa.com/"><img src="https://cms-img.coverfox.com/Bharti%20AXA%20Health%20Insurance%20company.png"class="serv"><figcaption>Winner of Best Policy Award</a></figcaption></figure>
            <figure><a href ="https://www.kotaklife.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxGvzxNG0MZZnn_PK1PkPd5NFl5YjUgO5zYw&usqp=CAU"class="serv"><figcaption>Amazing offers for family plans</a></figcaption></figure>
        </div>
    </section>
</section>
<footer>
    <p><a href="https://www.linkedin.com/in/richie-thakkar-5a722a206/" target="_blank">Copyright &copy; Richie Thakkar</a><br></p> 
</footer>
</body>
</html>