<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/renewstyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renew your Policy</title>
</head>
<body>
<header>
    <br>
    <h2>&nbsp;&nbsp;InsuranceSaathi</h2>
    &nbsp;&nbsp;&nbsp;Select Your Insurer from below boxes
</header>    
<hr>
<section class="sec">
    <div class="sec1">
    <img class="image" src="https://cdn.pixabay.com/photo/2017/06/10/07/18/list-2389219__480.png">
    <br>
    <ul>
        <li>Pay or check your premium at a click</li>
        <li>One stop solution for paying life insurance premium</li>
        <li>Secure and hassle free payment options</li>
    </ul>
    <div class="div1">
        <a style="text-decoration: none;color:white;" href="{{ url_for('LandingPage') }}"><button class="btn">Back to Home</button></a>
    </div>
</div>
<div class="sec2">
    <a href="https://www.aegonlife.com/" class="item1"><div></div></a>
    <a href="https://www.bajajallianz.com/general-insurance.html?utm_source=GoogleBrandBagic&param1=Enhanced_Sitelink&param2=Enhaced_Site_Link&param3=bajaj%20allianz&utm_content=SEM&gclid=CjwKCAjwx7GYBhB7EiwA0d8oe41O6xmcPIywc3Q9LSKp0fyZd3pwu0xptEZ5gyS-BUBAp1bnnM5LXhoCqPQQAvD_BwE&gclsrc=aw.ds" class="item2"><div></div></a>
    <a href="https://www.bhartiaxa.com/" class="item3"><div></div></a>
    <a href="https://www.iciciprulife.com/term-insurance-plans/iprotect-smart-term-insurance-calculator.html?UID=1254&cid=Search:Google::Text:DM:iPS:IPRU-Search-Pure_Brand_Consideration-EM-RX-Desktop-1254:allinonetermplan::Eng::1254:cpc:::&ds_rl=1270652&keyword=icici%20pridential&matchtype=e&utm_term=icici%20pridential&gclid=CjwKCAjwx7GYBhB7EiwA0d8oe-60KnsAU4yQdArfeXFz50oJXUwca2V-jnE2KGFxhb3EoPLYMEM5whoCEAIQAvD_BwE&gclsrc=aw.ds" class="item4"><div></div></a>
    <a href="https://www.kotaklife.com/" class="item5"><div></div></a>
    <a href="https://www.exidelife.in/" class="item6"><div></div></a>
    <a href="https://www.hdfclife.com/" class="item7"><div></div></a>
    <a href="https://www.tataaia.com/" class="item8"><div></div></a>
    <a href="https://www.pnbmetlife.com/" class="item9"><div></div></a>
    <!--<form>
        <label for="insurancetype">Insurance type</label><br>
        <select name="insurancetype" id="insurancetype">
            <option value="" selected disabled >Choose here</option>   
            <option value="Health-insurance">Health Insurance</option>
            <option value="Home-insurance">Home Insurance</option>
            <option value="Vehicle-insurance">Vehicle Insurance</option>
            <option value="Travel-insurance">Travel Insurance</option>
        </select><br><br>
        Policy Number<br>
        <input type="text" required><br><br>
    </form>-->  
    </div>
</section>
<footer>
    <p><a href="https://www.linkedin.com/in/richie-thakkar-5a722a206/" target="_blank" style="text-decoration: none;color: white;">Copyright &copy; Richie Thakkar</a><br></p> 
</footer>
</body>
</html>